@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
#no {
    position: relative;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    font-family: 'Roboto', sans-serif;
}
button {
    width: 60px;
    height: 30px;
    transition: 0.1s;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: 600;
}
div {
    margin-bottom: 22px;
}
p {
    display: none;
    text-align: center;
    margin: 0;
}